body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  background: orange;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: gold;
}
